.containerAreaChart{
    background-color: #FF0000;
    width: 32%;
    height: 263px;
    border-radius: 5px;
}
.title, tspan{
    color: #FFFFFF;
    opacity: 0.5;
    font-weight: 500;
    line-height: 24px;
}
tspan{
    font-size: 12px;
}
.title{
    font-size: 15px;
}