.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 91px);
}
.dataLink{
    background-color: #FBFBFB;
    border-radius: 10px;
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section{
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 20px;
}
.linkGroup{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}