.main{
    background-color: white;
    flex: 1;
    margin: 90px;
}
.head{
    margin-bottom: 77px;
}
.hello{
    font-weight: 500;
    font-size: 48px;
    line-height: 24px;
    color: #000000;
}
.hello > span{
    color: #FF0101;
}
.strToday{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.dataContainer{
    display: flex;
}
.graphContainer{
    width: 80%;
}
.containerIconNutrition{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}