.containerBarChart{
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #74798C;
    padding: 112px 30px 62px 43px;
    border-radius: 5px;
    background-color: #FBFBFB;
    position: relative;
    margin-bottom: 30px;
}
.title{
    color: #20253A;
    line-height: 24px;
    font-size: 15px;
    position: absolute;
    top: 30px;
    left: 30px;
}