@font-face {
  font-family: "roboto";
  src: url("./assets/polices/Roboto-Regular.ttf");
}
*{
  font-family: 'roboto','Segoe UI', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
body{
  margin: 0;
}