.nav{
    background-color: #020203;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 91px) ;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}
.ul{
    width: 117px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
.li{
    list-style: none;
    margin-bottom: 20px;
}
.copi{
    color: white;
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
    height: 138px;
    writing-mode: vertical-lr;
    transform: rotateZ(180deg);
}