.container{
    background-color: #FBFBFB;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 258px;
    min-height: 263px;
}
.title{
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #20253A;
    position: absolute;
    top: 24px;
    left: 30px;
}
.score{
    position: absolute;
    line-height: 26px;
    font-weight: 700;
    z-index: 2;
    color: #282D30;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    width: 132px;
    height: 132px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
}
.objectif{
    font-weight: 500;
    color: #74798C;
    font-size: 16px;
    text-align: center;
    width: 95px;
}

@media only screen and (max-width: 1000px) {
    .container{
        margin-bottom: 30px;
    }
}